/* header */

@mixin anclas{
    align-items: center;
    text-align: center;
}

.logo {
    width: 110px;
    cursor: pointer;
}

nav {
    text-transform: uppercase;
    font-weight: bold;
}

nav li {
    margin: 0px 20px;
    font-size: 15px;

}

ul {
    @include anclas;
    justify-content: space-between;
}

